<h1>Patient Management</h1>
<p>Please click 'Manage Patients' menu option to start. </p>
<p>Patient Management system for hospitals allows a user to add and list patients</p>
<p>The following functionality currently is not implemented, will be available in the future releases: </p>
<ul>
  <li>Edit selected patient</li>
  <li>Manage patient admissions</li>
  <li>Paging and sorting of the listed patients</li>
  <li>Improved validation of the user entries</li>
  <li>Exception handling</li>
</ul>


