<h1 id="tableLabel">Manage Patients</h1>

<p *ngIf="!isLoaded"><em>Loading...</em></p>
<div *ngIf="isLoaded">
  <ng-container *ngIf="!patients || patients.length === 0 ">
    <p>There are no patients in the database.</p>
  </ng-container>
  <div class="padbottom20">
    <p>Please add a new patient by clicking the link below</p>
    <a [routerLink]="['../edit-patient']">Add a new patient</a>
  </div>
  <ng-container *ngIf="patients && patients.length > 0">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="isLoaded">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date of birth</th>
          <th>Address</th>
          <th>State</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.firstName }} {{patient.lastName}}</td>
          <td>{{ patient.dateOfBirth | date:'dd-MMM-yyyy' }}</td>
          <td>{{ patient.streetAddress }} {{patient.suburb}} {{patient.postCode}}</td>
          <td>{{ patient.stateCode }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.phone }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
